header{
    box-sizing: border-box;
     background-color: rgb(2, 37, 48);
        color: rgb(41, 255, 244);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: greenyellow thick solid;
}
nav{
    box-sizing: border-box;
    background-color: grey;
    border:rgb(41, 255, 244) thin solid;
}
nav ul{
    text-decoration: none;
}
nav ul li a{
    display: inline;
}
article{
    box-sizing: border-box;
    background-color: rosybrown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    line-height: 1.0;
}
section{
    box-sizing: border-box;
    background-color: royalblue;
    font-size: 54;
}

aside{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: seagreen;
}
footer{
    background-color: slateblue;
}